[submodule "src/printed-circuit-boards/FLWSB-SAMDaaNo21"]
	path = src/printed-circuit-boards/FLWSB-SAMDaaNo21
	url = git@github.com:DaanDekoningKrekels/FLWSB-SAMDaaNo21.git
[submodule "src/software/uf2-samdx1"]
	path = src/software/uf2-samdx1
	url = git@github.com:DaanDekoningKrekels/uf2-samdx1.git
